<div class="HomeTxt">
	<p>
	 These poems span the years since my early twenties (about forty years now!).</p>
	 <p>
	 There have been times (sometimes considerable lengths of time) when I have
	 written very little and then something brings the inspiration back and a creative
	 burst results. Sometimes my poems are written with a particular subject in mind,                   
	 occasionally even to order or commission, but my favourites are generally those
	 where something sparked an idea and then the poem took on a life of its own
	 and ended up in a completely different place to that envisaged at the beginning.
	 One example of this is Go With Me which was intended as a trip to a fantasy
	 world but was never intended to end up with such a misanthropic final line!</p>
	 <p>
	 I have chosen to divide the poems into categories but many of them could fit into
	 more than one category.</p>
	 <p>
	 If you choose to read any of my poems I hope you enjoy them and would
	 welcome any comments you may have.
	</p>
</div>
<div id="Quote">
	<div id="Image"></div>	
	<div id="Text"></div>					
</div>